<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" href="./stylesheets/tourlandLoginForm.css"/>

<body>
<%- include('./include/userHeader.ejs') %>
<section>
    <div id="loginHead">
        <h1>로그인</h1>
        <p>새로운 세상, 투어랜드</p>
    </div>
    <div id="loginBox">
        <form action="loginForm" method="post">
            <%if (registerSuccess !=null) { %>
            <% } %>
            <%if (registerSuccess ==null) { %>
                <h2>투어랜드</h2>
                <% } %>
            <div id="loginInnerBox">
                <div id="inputBox">
                    <%choose { %>
                        <c:when test="${UserStay!=null}">
                            <input type="text" name="id" id="id" placeholder="아이디" value="${UserStay.userid}">
                            <input type="password" name="pass" id="pass" placeholder="비밀번호" value="${UserStay.userpass}">
                        </c:when>
                        <c:when test="${EmpStay!=null}">
                            <input type="text" name="id" id="id" placeholder="아이디" value="${EmpStay.empid }">
                            <input type="password" name="pass" id="pass" placeholder="비밀번호" value="${EmpStay.emppass}">
                        </c:when>
                        <c:otherwise>
                            <input type="text" name="id" id="id" placeholder="아이디">
                            <input type="password" name="pass" id="pass" placeholder="비밀번호">
                        </c:otherwise>
                        <% } %>
                </div>
                <div id="submitBox">
                    <input type="submit" value="로그인" style="cursor: pointer">
                </div>
                <%if (error!=null) { %>
                    <p class="error">${error }</p>
                <% } %>
            </div>
        </form>
        <div id="loginBtns">
            <button id="join" style="cursor: pointer">회원가입</button>
            <button id="findIDPW" style="cursor: pointer">아이디/비밀번호 찾기</button>
        </div>
        <div id="loginAPI">
            <button id="naver" class="api" style="cursor: pointer">
                <span>NAVER</span> 로그인
            </button>
            <button id="kakao" class="api" style="cursor: pointer">
                <span>kakao</span> 로그인
            </button>
        </div>
    </div>

</section>
<script>
    $("#join").click(function(){
        location.href="/customer/tourlandRegister"  ;
    })
    $("#findIDPW").click(function(){
        location.href="/customer/tourlandFindIdPw"  ;
    })
</script>
<%- include('./include/userFooter.ejs') %>
</body>
</html>