<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./stylesheet/userHeader.css"/>
<script src="https://kit.fontawesome.com/6f2f0f2d95.js"></script>    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> 
<script src="https://kit.fontawesome.com/6f2f0f2d95.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link rel="stylesheet" type="text/css" href="./stylesheets/userHeader.css"/>

<script>
	$(function(){
		$("#nav2 li").mouseover(function(){
			$(this).find("a").css("color", "#ff7f00");
		})
		$("#nav2 li").mouseout(function(){
			$(this).find("a").css("color", "#fff");
		})
	})    
</script>
<script>
//날씨 API Ajax
function getKRWeather() {
	$.ajax({
			url : "http://api.openweathermap.org/data/2.5/forecast?q=Jeju&appid=a791f39f5b8894495048828df8c2a988",
			type : "get",
			dataType : "json",
			success : function(rs) {
				var $img1 = $("<i>").addClass("fas fa-cloud cloud");
				var $img2 = $("<i>").addClass("fas fa-sun cloud");
				var $img3 = $("<i>").addClass("fas fa-umbrella cloud");
				var cloudSunny = rs.list[1].weather[0].description;
				
				if(cloudSunny =="scattered clouds" || cloudSunny =="few clouds" || cloudSunny =="overcast clouds"|| cloudSunny =="broken clouds"){
					cloudSunny = "구름 조금";
					$("#krw").find(".weatherImgBox").append($img1);
				}else if(cloudSunny =="clear sky"){
					cloudSunny = "맑음";
					$("#krw").find(".weatherImgBox").append($img2);
				}else if(cloudSunny =="light rain" || cloudSunny == "moderate rain"){
					cloudSunny = "비 조금";
					$("#krw").find(".weatherImgBox").append($img3);
					
				}
				/* 섭씨 온도 : 273.15를 빼줌 */
					$("#krw").find(".tempNum").html(Math.ceil((rs.list[1].main.temp - 273.15)));
					$("#krw").find(".cloudSunny").html(cloudSunny);
				}
			})
}
function getJPWeather() {
	$.ajax({
			url : "http://api.openweathermap.org/data/2.5/forecast?q=Japan&appid=a791f39f5b8894495048828df8c2a988",
			type : "get",
			dataType : "json",
			success : function(rs) {
				var $img1 = $("<i>").addClass("fas fa-cloud cloud");
				var $img2 = $("<i>").addClass("fas fa-sun cloud");
				var $img3 = $("<i>").addClass("fas fa-umbrella cloud");
				
				var cloudSunny = rs.list[1].weather[0].description;
				if(cloudSunny =="scattered clouds" || cloudSunny =="few clouds" || cloudSunny =="overcast clouds"|| cloudSunny =="broken clouds"){
					cloudSunny = "구름 조금";
					$("#jpw").find(".weatherImgBox").append($img1);
				}else if(cloudSunny =="clear sky"){
					cloudSunny = "맑음";
					$("#jpw").find(".weatherImgBox").append($img2);
				}else if(cloudSunny =="light rain" || cloudSunny == "moderate rain"){
					cloudSunny = "비 조금";
					$("#jpw").find(".weatherImgBox").append($img3);
					
				}
				/* 섭씨 온도 : 273.15를 빼줌 */
					$("#jpw").find(".tempNum").html(Math.ceil((rs.list[1].main.temp - 273.15)));
					$("#jpw").find(".cloudSunny").html(cloudSunny);
				}
			})
}
function getCNWeather() {
	$.ajax({
			url : "http://api.openweathermap.org/data/2.5/forecast?q=china&appid=a791f39f5b8894495048828df8c2a988",
			type : "get",
			dataType : "json",
			success : function(rs) {
				var $img1 = $("<i>").addClass("fas fa-cloud cloud");
				var $img2 = $("<i>").addClass("fas fa-sun cloud");
				var $img3 = $("<i>").addClass("fas fa-umbrella cloud");
				
				var cloudSunny = rs.list[1].weather[0].description;
				if(cloudSunny =="scattered clouds" || cloudSunny =="few clouds" || cloudSunny =="overcast clouds"|| cloudSunny =="broken clouds"){
					cloudSunny = "구름 조금";
					$("#cnw").find(".weatherImgBox").append($img1);
				}else if(cloudSunny =="clear sky"){
					cloudSunny = "맑음";
					$("#cnw").find(".weatherImgBox").append($img2);
				}else if(cloudSunny =="light rain" || cloudSunny == "moderate rain"){
					cloudSunny = "비 조금";
					$("#cnw").find(".weatherImgBox").append($img3);
					
				}
				/* 섭씨 온도 : 273.15를 빼줌 */
					$("#cnw").find(".tempNum").html(Math.ceil((rs.list[1].main.temp - 273.15)));
					$("#cnw").find(".cloudSunny").html(cloudSunny);
				}
			})
}
window.onload = function() {
	getKRWeather();
	getJPWeather();
	getCNWeather();
}


//날씨 박스 setInteval
 	 setInterval(function() {
 		 $('#weatherBoxWrap .box2:first').animate({
 			 marginTop : -50
 		 }, 1000 )
 		
 		 $('#weatherBoxWrap .box2:eq(1)').delay(1000).animate({
 			 marginTop : -50
 		 }, 1000 , function(){
 			 $('#weatherBoxWrap .box2:first').css("margin-top", "0px");
 			 $('#weatherBoxWrap .box2:eq(2)').css("margin-top", "0px");
 			
 			 $('#weatherBoxWrap .box2:eq(1)').css("margin-top", "0px");
 		 })
 		
 	 },3000)
		 
		
	  
</script>


<header>
			<nav id="nav1">
				<ul>
				<%if (Auth==null) { %>
					<li><a href="/customer/tourlandBoardNotice">고객센터</a></li>
					<li><a href="/customer/tourlandRegister">회원가입</a></li>
					<li><a href="/loginForm" class="balance">로그인</a></li>
				<% } else { %>
					<li><a href="/logout" class="balance">로그아웃</a></li>
					<li><a href="/customer/tourlandBoardNotice">고객센터</a></li>
					<%if (login=='user'){ %>
						<li><a href="/customer/EditPassword">마이페이지</a></li>
					<% } else { %>
						<p id="userAuth">[ <%=Auth.username %> ]님! 반갑습니다.</p>
					<% } %>
						<li id="manager" style="margin-left: -15px;"><a href="/manager/statistics">관리자</a></li>
						<p id="managerAuth">[ <%=Manager.name %> ]님! 반갑습니다.</p>
				<% } %>
				</ul>
			</nav>
					<div id="main">
						<div id="weatherWrap">
						<!-- 날씨 API -->
						<h4>여행지의 현재 날씨를 확인하세요!</h4>
						<div id="weatherBoxWrap">
							<div class="box2 marg" class="weather" id="krw" style="z-index:2">                 
								<div class="weatherImgBox">   
									    
								</div>     
								<div class="weatherInfoBox">
									<p class="temp"><span class="tempNum"></span> ℃</p>
									<p class="cloudSunny"></p>
									<p class="weatherLoca">제주, 한국</p>
								</div>           
							</div> 
							<div class="box2 marg" class="weather" id="jpw" style="z-index:1">                 
								<div class="weatherImgBox">   
									  
								</div>     
								<div class="weatherInfoBox">
									<p class="temp"><span class="tempNum"></span> ℃</p>
									<p class="cloudSunny"></p>
									<p class="weatherLoca">도쿄, 일본</p>
								</div>           
							</div>    
							<div class="box2 marg" class="weather" id="cnw">                 
								<div class="weatherImgBox">   
									  
								</div>   
								<div class="weatherInfoBox">
									<p class="temp"><span class="tempNum"></span> ℃</p>
									<p class="cloudSunny"></p>
									<p class="weatherLoca">베이징, 중국</p>
								</div>           
							</div>    
						</div>    
						</div>
						<div id="logo" class="ls">
							<span>패키지 전문 여행사 <i class="fas fa-plane-departure"></i></span>
							<h1><a href="/customer/tourlandMain">투어 랜드</a></h1>    
						</div>
						<div id="search" class="ls">
						    <%if (searchkeyword !=null) { %>
							<input type="text" placeholder="검색어를 입력하세요." id="mainSearchKeyword" value="<%=searchkeyword %>"><i class="fas fa-search" style="font-size:25px; margin-left:10px;" id="mainSearchIcon"></i>
							<% } else { %>
							<input type="text" placeholder="검색어를 입력하세요." id="mainSearchKeyword"><i class="fas fa-search" style="font-size:25px; margin-left:10px;" id="mainSearchIcon"></i>
							<% } %>
							<!-- <button>찾기</button> -->
						</div>
					</div>
					
					<div id="nav2">
						<ul>
							<li><a href="/customer/tourlandProductKRList">제주 패키지</a></li>
							<li><a href="/customer/tourlandProductJPList">일본 패키지</a></li>
							<li><a href="/customer/tourlandProductChinaList">중국 패키지</a></li>
							<li class="short"><a href="/customer/tourlandEventList/ingEvent">이벤트</a></li>
							<li class="short c"><a href="/customer/userpageCoupon">쿠폰</a></li>
						</ul>
					</div>
			</header>
			
<script>
    $(function(){
    	$("#mainSearchIcon").click(function(){
            var mainKeyword = $("#mainSearchKeyword").val();
            
            if(mainKeyword == ""){
            	alert("검색어를 입력해주세요");
            	return false;
            }
    		location.href="/customer/tourlandSearch/default?searchType=&keyword="+mainKeyword+"&keyword2=";
    	})
    })
</script>