/* 본문 */
div#mainBox {
    width: 1200px;
    margin: 0 auto;
    height: 500px;
}

/* 메인1 (사진 3개 있는 부분) */
section#section1 {
    width: 1200px;
    height: 500px;
}

section#section1 div#imgBox {
    width: 1200px;
    height: 500px;
    margin-top: 30px;
}

section#section1 div#imgBox .box1 {
    width: 100%;
    height: 500px;
    float: left;
    position: relative;
}

section#section1 div#imgBox .box1 div {
    position: absolute;
    top: 0;
    left: 0;
}

section#section1 div#imgBox .box1 img {
    width: 1200px;
    height: 500px;
    position: absolute;
}
section#section1 div#imgBox #weatherWrap {
    width: 380px;
    height: 195px; float: right;
    margin-bottom: 10px;
}



section#section1 div#imgBox .marg {
    margin-bottom: 10px;
}
/* 메인2 (검색 박스 있는 부분) */
section#section2 {
    background: #bcbcbc;
    height: 180px;
    margin-top: 30px;
}

section#section2 h2 {
    height: 40px;
    border-bottom: 1px solid #696969;
    margin-bottom: 10px;
}

section#section2 .divBox {
    width: 200px;
    float: left;
    padding: 15px 0;
    margin-left: 15px;
}

.divBox select {
    width: 200px;
    height: 34px;
    margin-top: 20px;
}

#datePick {
    margin-top: 30px;
}

.datepicker {
    width: 180px;
}

section#section2 #inOutDiv {
    margin-left: 40px;
}

section#section2 #dateDiv {
    width: 220px;
}

section#section2 #searchDivBtn {
    text-align: center;
    line-height: 130px;
    margin-left: 70px;
    margin-top: 20px;
}

section#section2 #searchDivBtn button {
    width: 150px;
    height: 30px;
    background: #ff7f00;
    border: none;
}

/* 메인3 (특가 상품들 있는 부분) */
section#section3 {
    height: 600px;
    margin-top: 30px;
}

section#section3 a {
    text-decoration: none;
}

section#section3 #first {
    width: 580px;
    height: 270px;
}

section#section3 #first img {
    width: 100%;
    height: 100%;
}

section#section3 .popular {
    width: 280px;
    height: 270px;
    float: left;
    padding: 10px;
    position: relative;
}

section#section3 .popular img {
    width: 100%;
    height: 100%;
}

section#section3 .popular h3 {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #ff7f00;
    text-shadow: 1px 1px 1px #000;
}

section#section3 .popular p {
    position: absolute;
    top: 50px;
    left: 30px;
    color: #fff;
}

section#section3 #popInfo {
    width: 580px;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 220px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
}

section#section3 .popInfo2 {
    width: 280px;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 220px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 60px;
}

/* 메인4 (배너 있는 부분) */
section#section4 {
    margin-top: 30px;
    height: 200px;
}

section#section4 .bannerBox {
    width: 560px;
    height: 200px;
    float: left;
    position: relative;
}

section#section4 .bannerBox img {
    width: 100%;
    height: 100%;
}

section#section4 .bannerBox h3 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: gold;
    text-shadow: 3px 4px 4px black;
}

section#section4 .bannerBox p {
    position: absolute;
    top: 60px;
    left: 20px;
    color: #fff;
    font-weight: bolder;
    text-shadow: 3px 4px 4px black;
}

section#section4 #banner1 {
    margin-right: 60px;
    margin-left: 10px;
}

/* 메인5 (상담 시간, 업무시간, Q&A 버튼들 있는 부분) */
section#section5 {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    margin-left: 10px;
}

section#section5 .infoBox {
    height: 200px;
    float: left;
    border: 1px solid #c8c8c8;
}

section#section5 div#counsel {
    width: 360px;
}

section#section5 .infoBox h3 {
    font-size: 20px;
    margin: 10px;
}

section#section5 .infoBox p {
    text-align: center;
    height: 60px;
    line-height: 60px;
}

section#section5 .big {
    font-size: 50px;
    font-weight: bold;
}

section#section5 div#workTime {
    width: 198px;
    border-left: none;
}

section#section5 div#workTime .bold {
    font-weight: bold;
}

section#section5 div#shortcutBtns {
    width: 560px;
    margin-left: 70px;
    border: none;
}

section#section5 div#shortcutBtns a {
    display: block;
    text-decoration: none;
    width: 250px;
    height: 60px;
    background: tan;
    line-height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #c8c8c8;
    float: left;
    margin: 20px 10px 10px 10px;
}

/*팝업스타일 */
#popup1 {
    margin-left: 120px;
    float: left;
    text-align: center;
    width: 400px;
    height: 600px;
    position: relative;
    position: absolute;
    top: 150px;
    z-index: 3;
    display: none;
}

#popup2 {
    margin-left: 100px;
    float: left;
    text-align: center;
    width: 560px;
    position: relative;
    position: absolute;
    top: 250px;
    left: 100px;
    z-index: 3;
    display: none;
}

#previewPopup1 {
    width: 400px;
    box-shadow: 0 0 8px black;
    position: absolute;
    left: 85px;
    top: 50px;
}

#previewPopup2 {
    width: 400px;
    box-shadow: 0 0 8px black;
    position: absolute;
    left: 85px;
    top: 50px;
}

p.popupClose {
    width: 400px;
    position: absolute;
    top: 400px;
    left: 0;
    padding-bottom: 10px;
    box-shadow: 0 0 8px black;
}

input.expireCK {
    margin-right: 10px;
    margin-top: 13px;
}

input.expireCK2 {
    margin-right: 10px;
    margin-top: 13px;
}

button.popupBtnClose {
    margin-left: 20px;
    width: 30px;
}

button.popupBtnClose2 {
    margin-left: 20px;
    width: 30px;
}

/* 슬라이드 박스 */
#slideBoxMain {
    background: linen;
    position: absolute;
    width: 110px;
    height: 410px;
    top: 300px;
    right: -4px;
    padding: 5px 5px;
    border: 0.5px solid gainsboro;
}

#slSpan {
    width: 120px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    color: silver;
}

#slideBoxMain ul {

}

#slideBoxMain ul li {
    height: 30px;
    line-height: 30px;
    font-size: smaller;
    padding: 5px;
}

#slideBoxMain ul li:first-child:hover {
    background: tan;
    font-weight: bold;
}